.card {
    background-color: #ffffff;
    border: none;
    border-top-left-radius: var(--rounded-corners);
    border-top-right-radius: var(--rounded-corners);
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card span {
    display: block;
}
