.header {
  display: flex;
  max-width: 860px;
  margin: auto;
  background: green;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation > ul {
  display: flex;
  align-items: center;
  gap: 28px;
  list-style: none;
}
