.header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 2.5rem;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--highlight);
  box-shadow: 0 1px 2px 0 var(--primary2);
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation > ul {
  display: flex;
  align-items: center;
  gap: 1.75rem;
  list-style: none;
  text-transform: uppercase;
}

.navigation a {
  font-family: 'Karla', sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: var(--highlight2);
}

.burger {
  display: none;
}

.navigation a:hover {
  color: var(--secondary);
}

@media (max-width: 1200px) {
  .burger {
    display: block;
    border: none;
    cursor: pointer;
  }

  .navigation {
    display: none;
    position: fixed;
    padding: 4rem;
    top: 20%;
    height: 80%;
    right: 0;
    border-top-left-radius: 2rem;
    border-left: solid 1rem var(--primary2);
    background-color: var(--highlight2);
  }

  .navigation[data-open="true"] {
    display: block;
  }

  .navigation ul {
    display: flex;
    flex-direction: column;
  }

  .navigation ul li a {
    color: #ffffff;
  }
}