@font-face {
  font-family: 'Karla';
  src: url('../public/fonts/Karla/Karla-VariableFont_wght.ttf')
    format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Markazi Text';
  src: url('../public/fonts/Markazi_Text/MarkaziText-VariableFont_wght.ttf')
    format('truetype');
  font-style: normal;
}

:root {
  --primary: #495e57;
  --primary2: #f4ce14;
  --secondary: #ee9972;
  --secondary2: #fbdabb;
  --highlight: #edefee;
  --highlight2: #333333;
  --rounded-corners: 16px;
  --breakpoint: 1200px;
  --karla: 'Karla';
  --markazi: 'Markazi Text';
}

html,
body {
  font-family: 'Markazi Text', serif;
  color: #000000;
  background-color: #ffffff;
  line-height: 1.5;
}
